* {
    font-family: "Hack", "Hack", monospace, bold;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#gwmonlog {
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid darkmagenta;
    border-collapse: collapse;
}

@media screen and (max-width: 500px) {
    #stats_4g, #stats_5g {
        float: none;
    }
}

@media screen and (min-width: 501px) {
    #stats_4g {
        float: right;
    }

    #stats_5g {
        float: left;
    }
}