* {
    font-family: "Hack", "Hack", monospace, bold;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#body, #config_body {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(61, 65, 83, 0.75);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#foot {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(61, 65, 83, 0.75);
    font-weight: bold;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

#navbar {
    background-color: rgba(61, 65, 83, 0.75);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
    text-align: center;
}

body {
    background-image: url('backdrop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button, input, select {
    cursor: pointer;
    color: black;
}

.hide_button {
    cursor: autos;
    width: 100%;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    float: left;
    text-decoration-line: underline;
    font-size: 1.17em;
}

.pw_copy, .toggle_qr {
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    text-decoration-line: underline;
}

.hide_button:hover {
    text-decoration-line: none;
}

.hideable {
    background-color: rgba(61, 65, 83, 0.25);
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 893px) {
    #body, #config_body {
        width: 63%;
    }

    #stats {
        float: left;
    }
}

@media screen and (max-width: 1410px) {
    #body, #config_body {
        width: 100%;
    }
}

@media screen and (min-width: 926px){
    #gateway {
        float: right;
    }
}

@media screen and (min-width: 820px) {
    #navbar {
        width: max-content;
    }
}

@media screen and (min-width: 610px) {
    #foot {
        width: max-content;
    }
}

@media screen and (max-width: 518px) {
    #du_bar {
        transform: scale(0.75) translate(-80px, 0px);
    }
}

@media screen and (min-width: 501px) {
    #conn_stats_frame {
        height: 315px;
        width: 600px;
    }
}

@media screen and (max-width: 500px) {
    #conn_stats_frame {
        height: 630px;
    }
}